

<article class="template">

  <%= profile.get("cover_letter_template") %>
</article>

<ul class="links">
  <li>
    LinkedIn Profile: < <a href="<%= profile.get("linkedin") %>"> <%= profile.get("linkedin") %> </a>
  </li>

  <li>
    Github Page: < <a href="<%= profile.get("github") %>"> <%= profile.get("github") %> </a>
  </li>

  <li>
    Personal Site: < <a href="<%= profile.get("personal_site") %>"> <%= profile.get("personal_site") %> </a>
  </li>
</ul>
