<button class="show-blurbs"> My Blurbs</button>
<a class="edit" href="#profiles/edit"> Edit </a>
<div class="blurbs-container group inactive">

</div>

<section class="links-container">

<h2>My links</h2>
<ul class="links group">
  <li>
    <strong> LinkedIn Profile:<br></strong>
      <a href="<%= profile.escape("linkedin") %>"> <%= profile.escape("linkedin") %> </a>
  </li>

  <li>
    <strong> Github Page: <br></strong>
     <a href="<%= profile.escape("github") %>"> <%= profile.escape("github") %> </a>
  </li>

  <li>
    <strong> Personal Site:<br></strong>
      <a href="<%= profile.escape("personal_site") %>"> <%= profile.escape("personal_site") %> </a>
  </li>
</ul>
</section>
<h2 class="cover-letter-title"> Cover Letter Template </h2>
<article class="cover-letter">

  <%= profile.get("cover_letter_template") %>
</article>
