<h2> My blurbs</h2> <button class="new-blurb">New Blurb </button>
<ul class="blurbs">
  <% blurbs.each(function(blurb) {  %>
    <% debugger %>
    <li> <a href=""><%= blurb.get("title") %></a> </li>
  <% }) %>
</ul>
<h2>My links</h2>
<ul class="links">
  <li>
    LinkedIn Profile:  <a href="<%= profile.escape("linkedin") %>"> <%= profile.escape("linkedin") %> </a>
  </li>

  <li>
    Github Page:  <a href="<%= profile.escape("github") %>"> <%= profile.escape("github") %> </a>
  </li>

  <li>
    Personal Site:  <a href="<%= profile.escape("personal_site") %>"> <%= profile.escape("personal_site") %> </a>
  </li>
</ul>
<article class="cover-letter">

  <%= profile.get("cover_letter_template") %>
</article>
